:host{
    display: flex;
    flex-direction: column;
    height: 605.2px;
}

.head{
    margin-bottom: 1.5rem;
}

p{
    line-height: 1.5;
    color: var(--Cool-gray);
    font-size: 1rem;
    font-family: 'Regular', sans-serif;
}

h2{
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Medium', sans-serif;
    color: var(--Marine-blue);
    margin-bottom: 0.7rem;
}

.summary{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /*Allows content grows*/
    overflow-y: auto; /*Allows movement if there addons*/
    gap: 15px;
}


.plan-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--Magnolia);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.has-addons .plan-details{
    border-radius: 8px 8px 0 0;
}

span{
    margin: 0 30px;
    border: 1px solid var(--Cool-gray);
    margin-top: -16px;
    margin-bottom: -16px;
}

.plan-summary p, .plan-summary ~ p, .addons-info p:nth-child(2){
    color: var(--Marine-blue);
    font-family: 'Ubuntu', sans-serif;
}

/* .plan-summary{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.plan-summary button{
    border: none;
    color: var(--Cool-gray);
    background-color: transparent;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    letter-spacing: .5px;
}

.plan-summary button:hover, .total p:nth-child(2){
    color: var(--Purplish-blue);
    font-family: 'Ubuntu', sans-serif;
}

.addons-summary{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    padding: 30px;
    background-color: var(--Magnolia);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.has-addons .addons-summary{
    border-radius: 0 0 8px 8px;
}

.addons-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: auto
}

.back-button{
    border: none;
    background-color: white;
    color: var(--Cool-gray);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Ubuntu' sans-serif;
}

.back-button:hover{
    color: var(--Marine-blue);
}

.confirm-button{
    max-width: 120px;
    padding: 17px 23px;
    border: none;
    color: var(--White);
    background-color: var(--Purplish-blue);
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

.confirm-button:hover{
    filter: brightness(1.5);
}

@media screen and (max-width: 800px) {
    :host{
        height: auto;
    }

    .summary{
        flex-grow: 0;
        height: auto;
        overflow-y: visible;
    }

    .buttons {
        background-color: var(--White);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem 3.7rem;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    }
}