<div class="modal">
    <div class="modal-content">
        <div class="aside">
            <ul>
                <li *ngFor="let menuItem of menu.items; let i = index" [class.active]="i === currentStep" [class.disabled]="i !== 0 && !step1Completed" (click)="goToStep(i)" [routerLink]="menuItem.route" [attr.data-index]="i + 1">
                    <div class="steps">
                        <span class="step">Step {{ i + 1 }}</span>
                        <span >{{ menuItem.name }}</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="form-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>