<div class="modal">
    <div class="modal-content">
        <div class="aside">
            <ul>
                <li *ngFor="let step of steps; let i = index" [class.active]="i === currentStep" [class.disabled]="i !== 0 && !step1Completed" (click)="goToStep(i)" [attr.data-index]="i + 1">
                    <div class="steps">
                        <span class="step">Step {{ i + 1 }}</span>
                        <span >{{ step.name }}</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="form-content">
            <app-step1 *ngIf="currentStep === 0"></app-step1>
            <app-step2 *ngIf="currentStep === 1"></app-step2>
            <app-step3 *ngIf="currentStep === 2"></app-step3>
            <app-step4 *ngIf="currentStep === 3"></app-step4>
            <app-thanyou *ngIf="currentStep === 4"></app-thanyou>
        </div>
    </div>
</div>